@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "primereact/resources/themes/lara-light-cyan/theme.css";
#root {
  margin: 0 auto;
}
.sidebar {
  width: 280px;
}
.mainCard {
  margin-left: 280px;
  margin-top: 0;
}
@media (max-width: 991.98px) {
  .sidebar {
    width: 230px;
  }
  .mainCard {
    margin-top: 100px;
    margin-left: 0;
  }
}

.logo {
  max-width: 280px;
}
.card {
  padding: 2em;
  border: 1px solid #14233b !important;
}

.btn-gd {
  background-color: #14233b !important;
  color: white !important;
}
.btn-gd:hover {
  background-color: #2d405e !important;
}
.bg-gd {
  background-color: #14233b !important;
  color: white;
}
.bg-disabled {
  background-color: #586272 !important;
  color: white;
}
.form-input {
  background-color: #c9cfd7 !important;
}
.nav-link:hover {
  background-color: white !important;
  color: #14233b !important;
}
.text-gd {
  color: #14233b !important;
}

.scroll-gd {
  scrollbar-width: thin;
  scrollbar-color: #14233b #ffffff;
  scrollbar-gutter: stable both-edges;
}

.p-dropdown-items-wrapper {
  scrollbar-width: thin;
  scrollbar-color: #14233b #ffffff;
}
.p-selectbutton .p-button.p-highlight {
  background: #14233b;
  border-color: #20385e;
}
.p-dropdown:not(.p-disabled):hover {
  border-color: #20385e;
}
.p-dropdown:not(.p-disabled).p-focus {
  border-color: #20385e;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #14233b, 0 1px 2px 0 rgb(0, 0, 0);
}
.p-button {
  height: 40px;
  font-size: small;
}
.p-button:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #14233b, 0 1px 2px 0 rgb(0, 0, 0);
}
.p-inputtext:enabled:focus {
  border-color: #20385e;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #14233b, 0 1px 2px 0 rgb(0, 0, 0);
}
.p-inputtext:enabled:hover {
  border-color: #20385e;
}
.p-inputtext,
.p-dropdown,
.p-dropdown-item,
.p-dropdown-label {
  height: 40px;
  display: flex;
  align-items: center;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: white;
  background: #20385e;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
  background: #1c3052;
}

.p-organizationchart-lines,
.p-organizationchart-line-left,
.p-organizationchart-line-right,
.p-organizationchart-line-top,
.p-organizationchart-line-down {
  stroke: black !important;
  stroke-width: 2px !important;
}

.p-stepper .p-stepper-header .p-stepper-action {
  background:#e2e3e5;
}

.p-accordion .p-accordion-header .p-accordion-header-link{
  padding: 1rem;
}
.suggestion-item {
  background-color: #ffffff;
  color: #14233b;
  font-weight: bold;
}
.suggestions-list .suggestion-item.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}
.alert-bubble {
  right: 20px;
  bottom: 20px;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  font-size: 24px;
}
.notification-count {
  position: absolute;
  top: -8px;
  right: -8px;
  font-size: 14px !important;
}

.rotate-open {
  transform: rotate(0deg);
}
.rotate-close {
  transform: rotate(-180deg);
}

/* Title Section Animation */

.toggle-content {
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;
  max-height: 0;
  padding: 0;
}

.toggle-content.open {
  max-height: 500px;
}

.content-inner {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
