@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.App {
  background-image: url("../assets/img/scene-construction-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-general {
  background-image: url("../assets/img/scene-construction-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}
h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
}

a {
  text-decoration: none;
}
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.cnt-img-lgn {
  width: 280px;
  margin: auto;
  margin-bottom: 10px;
}

.cnt-img-lgn>img {
  width: 100%;
  height: calc(100% - 60px);/*<-- Yo puse 60px porque más o menos es lo que mide la altura del título, pero tú coloca un número de pixeles que se ajuste*/
  object-fit: contain;
}

.auth-wrapper .form-control:focus {
  border-color: #14233b;
  box-shadow: none;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.forgot-password a {
  color: #14233b;
}

.btn-primary{
  background-color: #14233b;
  border-radius: 25px;
}

.btn-primary :hover{
  background-color: #41526d;
}